<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout">
<head>
<title>Organizador de Eventos</title>

<link rel="icon" href="" type="image/x-icon">

	<meta charset="UTF-8">
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

 	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<h1>Evento</h1>
	<a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Eventos</a>
	
	<div class="container" th:each="evento : ${evento}">
		<p> <span th:text="${evento.nome}"></span></p>
		<p> <span th:text="${evento.local}"></span></p>
		<p> <span th:text="${evento.data}"></span></p>
		<p> <span th:text="${evento.horario}"></span></p>
	</div>
	
	<form class="container" action="" method="post">
		<div class="row">
			<div class="input-field col s6">
				Nome Convidado: <input type="text" name="nomeConvidado">
			</div>
			<div class="input-field col s6">
				RG: <input type="text" name="rg">
			</div>
		</div>
		<button type="submit">Salvar</button>
	</form>
	<table class="container">
		<thead>
			<tr>
				<th>Nome Convidado</th>
				<th>RG</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>