<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Organizador de Eventos</title>
</head>
<body>
	
	<h1>Cadastro de Eventos</h1>
	<form action="" >
		Nome:<input type="text" value="" name="nome">
		Local:<input type="text" value="" name="local">
		Data:<input type="date" value="" name="data">
		Horario:<input type="time" value="" name="horario">

		<button type="submit">Enviar</button>		
	</form>
</body>
</html>